ENVIRONMENT=production

OPENAI_API_KEY=sk*****************************************************
LLM_PROVIDER=openai

DATABASE_URL=example+asyncpg://diagram_user:diagram_pass@localhost:5433/diagram_studio
SECRET_KEY=***************************************************************

REDIS_URL=redis://localhost:6379/0

GITHUB_TOKEN=ghp_************************************************************
GITHUB_REPO_OWNER=DevDoshi19
GITHUB_REPO_NAME=ai-diagram-studio-diagrams